<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GettingStarted: ServingWeb Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Status paiement</th>
            <th scope="col">Référence</th>
            <th scope="col">Client</th>
            <th scope="col">Nature</th>
            <th scope="col">TVA</th>
            <th scope="col">TVA somme</th>
            <th scope="col">HT</th>
            <th scope="col">TTC</th>
            <th scope="col">Date paiement</th>
            <th scope="col">Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${factureList}">
            <th scope="col" th:text="*{item.dateEmise}"></th>
            <th scope="col" th:text="*{item.typeStatusFacture}"></th>
            <th scope="col" th:text="*{item.ref}"></th>
            <th scope="col" th:text="*{item.client.nom +' '+ item.client.prenom}"></th>
            <th scope="col" th:text="*{item.nature}"></th>
            <th scope="col" th:text="*{item.tva}"></th>
            <th scope="col" th:text="*{item.tvaSomme}"></th>
            <th scope="col" th:text="*{item.HT}"></th>
            <th scope="col" th:text="*{item.ttc}"></th>
            <th scope="col" th:text="*{item.datePaid}"></th>
            <th scope="col">
                <span th:if="${item instanceof T(com.excel.projetspringboot.models.typeFacture.FactureFormation)}" th:text="Formation"></span>
                <span th:if="${item instanceof T(com.excel.projetspringboot.models.typeFacture.FacturePrestation)}" th:text="Prestation"></span>
            </th>
        </tr>
        <tr >
            <th colspan="11" th:text="'Total Price TTC : ' + ${sumTTC}"></th>
        </tr>
        <tr>
            <th colspan="11" th:text="'Total Price HT : ' + ${sumHT}"></th>
        </tr>
        </tbody>
    </table>
</body>
</html>
